/* Tag Selectors */

h1{
    font-size: 50px;
    color: #ff0000;

}
img:hover{
    background-color: #ffd700;
}

.A{background-color: #008000;
}
.B{background-color: #8a2be2;
}
.A{border-radius: 50%;
}

.B{border-radius: 50%;
}
h1{
    color: #0000ff;
}
